---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentCard from '../components/ContentCard.astro';

const posts = await getCollection('posts', ({ data }) => !data.draft);
const sortedPosts = posts.sort((a, b) =>
  new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<BaseLayout title="Home">
  <div class="container py-8">
    <section class="max-w-3xl mx-auto space-y-8">
      {sortedPosts.map((post) => (
        <ContentCard post={post} />
      ))}
    </section>
  </div>
</BaseLayout>
